
<%- include('partials/header.ejs') %>
<main>
    <div class="main__container">
        <form action="/edit/<%= data.id %>" method="post" class="form">
            <h1 style="color: #2e2e2e; margin-bottom: 1rem;">Edit Artikel</h1>
            <label for="name">Masukan Judul</label>
            <input type="text" id="name" name="title" required value="<%= data.title %>">
            <label for="body">Masukan Body</label>
            <textarea name="body" id="body" rows="20" cols="20" required><%= data.body %></textarea>
            <button type="submit">Post?</button>
        </form>    
    </div>
</main>

<%- include('partials/footer.ejs') %>